.margin1 {
  padding-top: 170px;
}
.margin1 p a {
  text-decoration: none;
  color: white;
}
.rounded {
  border-radius: 50%;
}
.hot-deals {
  padding: 90px;
  background-color: rgb(241, 95, 85);
}
.img-position {
  position: relative;
}
.text-position {
  position: absolute;
  top: 50%;
  left: 5%;
  opacity: 0;
  height: 100%;
  width: 100%;
  color: black;
  transition: 0.5s ease;
}
.text-position:hover {
  opacity: 1;
}
.text-position1:hover {
  opacity: 1;
}
.text-position1 {
  position: absolute;
  top: 30%;
  left: 5%;
  opacity: 0;
  color: black;
  font-weight: bolder;
}
