.tour-bg {
  background-image: url("https://i.ibb.co/BrZpLnS/1111.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 480px;
}

.padding {
  padding-top: 120px;
  padding-left: 50px;
}
.title1 {
  border-bottom: 2px solid black;
}
